# ファイルを横に連結

#### 1.まずは「氏名」カラムのみ抽出したマスタテーブルを用意

#### 2.for文で読み込むcsvファイルの「売上(万円)」カラムのみ抽出して、氏名をキーにしながら横に結合していく

#### 3.この際、
#### 【最初に結合するのはcsvファイルとマスタテーブル】
#### 【それ以降はマスタテーブルと結合したデータフレーム】に連続で結合していくため条件分岐が必要

In [1]:
import pandas as pd

import re

### マスタテーブルの用意

In [2]:
df_master = pd.read_csv('Sales_Ranking_201706.csv', usecols=['氏名'])
df_master

     氏名
0     A
1     B
2     C
3     D
4     E
5     F
6     G
7     H
8     I
9     J
10    K
11    L
12    M
13    N
14    O
15    P
16    Q
17    R
18    S
19    T
20    U
21    V
22    W
23    X
24    Y
25    Z
26   AA
27   BB
28   CC
29   DD
..  ...
37   LL
38   MM
39   NN
40   OO
41   PP
42   QQ
43   RR
44   SS
45   TT
46   UU
47   VV
48   WW
49   XX
50   YY
51   ZZ
52  AAA
53  BBB
54  CCC
55  DDD
56  EEE
57  FFF
58  GGG
59  HHH
60  III
61  JJJ
62  KKK
63  LLL
64  MMM
65  NNN
66  OOO

[67 rows x 1 columns]

### 「glob」を使ってフォルダ内すべてのcsvファイルリストを取得

In [3]:
import glob
files = glob.glob('*.csv')

### マスタテーブルの「氏名」をキーにしてcsvファイルを１つずつ横に連結していく
この際、

【最初に結合するのはcsvファイルとマスタテーブル】

【それ以降はマスタテーブルと結合したデータフレーム】に連続で結合していくため条件分岐が必要

In [4]:
for file in files:
    df_sales = pd.read_csv(file, usecols=['氏名', '売上(万円)'])
    number = re.sub('\D', '', file)#「Sales_Ranking_201706.csv」なら「201706」を抽出する
    df_sales = df_sales.rename(columns={'売上(万円)':'売上(万円)_' + str(number)})
    if file == files[0]:#if file == 'Sales_Ranking_201706.csv'と同じ意味
        df_merge = pd.merge(df_master, df_sales, on='氏名', how='outer')
    else:
        df_merge = pd.merge(df_merge, df_sales, on='氏名', how='outer')

df_merge

     氏名  売上(万円)_201706  売上(万円)_201707  売上(万円)_201708  売上(万円)_201709
0     A          326.0          359.0            NaN            NaN
1     B          288.0          200.0          116.0          297.0
2     C          285.0          218.0          120.0            0.0
3     D          221.0          254.0          123.0            0.0
4     E          209.0          193.0          113.0          256.0
5     F          197.0          221.0          120.0            0.0
6     G          197.0          150.0          200.0           62.0
7     H          191.0          149.0          199.0           61.0
8     I          178.0          140.0          170.0           61.0
9     J          169.0          136.0          168.0           53.0
10    K          163.0          136.0          165.0           46.0
11    L          162.0          135.0          164.0           22.0
12    M          146.0          134.0          162.0            3.0
13    N          141.0          127.0          162.0            0.0
14    O          140.0          123.0          159.0            0.0
15    P          135.0          123.0          157.0            0.0
16    Q          135.0          120.0          151.0            0.0
17    R          135.0          120.0          151.0            0.0
18    S          129.0          113.0          151.0            0.0
19    T          128.0          110.0          150.0            0.0
20    U          128.0          110.0          148.0            0.0
21    V          123.0          110.0          140.0            0.0
22    W          120.0          108.0          139.0            0.0
23    X          118.0          107.0          138.0            0.0
24    Y          115.0          103.0          134.0            0.0
25    Z          112.0          101.0          126.0            0.0
26   AA          112.0          184.0          296.0           85.0
27   BB          110.0          168.0          261.0           75.0
28   CC          105.0          166.0          245.0           75.0
29   DD          102.0          166.0          212.0           74.0
..  ...            ...            ...            ...            ...
39   NN           68.0           50.0           22.0          125.0
40   OO           55.0           43.0           15.0          123.0
41   PP           51.0           42.0           15.0          120.0
42   QQ           50.0           42.0           14.0          118.0
43   RR           50.0           42.0           10.0          117.0
44   SS           48.0           41.0            0.0          115.0
45   TT           45.0           40.0            0.0          115.0
46   UU           41.0           37.0            0.0          111.0
47   VV           40.0           36.0            0.0          110.0
48   WW           40.0           35.0          108.0          248.0
49   XX           40.0           30.0          108.0          200.0
50   YY           37.0           29.0          100.0          200.0
51   ZZ           31.0           25.0          100.0          200.0
52  AAA           26.0           98.0            NaN            NaN
53  BBB           25.0           90.0            NaN            NaN
54  CCC           24.0           89.0            0.0          100.0
55  DDD           24.0           88.0            0.0           92.0
56  EEE           16.0           85.0            0.0           89.0
57  FFF           15.0           85.0            0.0           88.0
58  GGG           14.0            0.0           65.0          146.0
59  HHH           12.0            0.0           60.0          142.0
60  III            0.0            0.0           68.0          147.0
61  JJJ            0.0            0.0           70.0          147.0
62  KKK            0.0            0.0           75.0          150.0
63  LLL            0.0            5.0           90.0          158.0
64  MMM            0.0           20.0           93.0          160.0
65  NNN            0.0           20.0           94.0          161.0
66  OOO            0.0           22.0           96.0          161.0
67  ZZZ            NaN            NaN            NaN            0.0
68  YYY            NaN            NaN            NaN            0.0

[69 rows x 5 columns]